/* ABOUT */

.c-about__container {
  padding-top: $base-space * 2;
  width: 100%;

  @include mq-mobile {
    border-bottom: 1px solid color('light','300');
    padding-bottom: $base-space * 2;
    margin-bottom: $base-space * 2;
  }

  @include mq-desktop {
    padding-right: $base-space * 3;
  }
}

.c-about__title {
  @include section-title;
}

.c-about {
  h1,h2,h3,h4,h5,h6 {margin-top: $base-space *2;}

  h1 {@include type(2);}
  h2 {@include type(1);}
  h3 {@include type(0);}
  h4 {@include type(-1);}
  h5 {@include type(-1);}
  h6 {@include type(-2);}

  span {
    margin-top: $base-space;
    @include type(0);
  }

  ul, ol {
    padding-left: $base-space * 2;

    li {margin-bottom: $base-space * .5;}
  }

  ul li {list-style-type: disc;}
  ol li {list-style-type: decimal;}

  img {
    display: block;
    max-width: 100%;
    width: auto;
    margin: $base-space * 2 auto;

    @include mq-mobile {width: 100%;}
  }

  iframe {
    display: block;
    margin: $base-space * 2 auto;

    @include mq-mobile {
      width: 100%;
    }
  }
}
