/* CHECKOUT BUTTONS */

.c-checkout-buttons {
  margin-top: $base-space * 3;
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(end);

  @include mq-tablet {
    @include justify-content(space-between);
  }

  .u-button--base, #paypal-button {
    @include mq-mobile {margin-bottom: $base-space;}
    @include mq-desktop {min-width: 30%;}

    span {vertical-align: middle;}
  }

  .u-button--primary, #paypal-button {
    @include mq-desktop {
      @include order(1);
    }
  }

  &.is-stand-alone {
    padding-top: $base-space * 3;
    border-top: 1px solid color('light','300');
  }

  .is-arrow-right {
    margin-right: 0;
    margin-left: $base-space * .5;
  }

  .is-arrow-left {
    transform: rotate(180deg);
  }
}

#paypal-button {
  @include mq-mobile {
    width: 100%;
  }
}
