/* EVENT INFO */

.c-event-info {
  width: 100%;
  max-width: 102rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: $base-space * 3;
  padding-bottom: $base-space * 3;
  color: color('light','100');
  @include flexbox;

  @include mq-mobile {
    padding-right: $base-space;
    padding-left: $base-space;
    @include flex-wrap(wrap);
  }

  @include mq-desktop {
    padding-right: $base-space * 2;
    padding-left: $base-space * 2;
  }

  &.is-home {
    .c-event-info__logo {
      @include mq-mobile {
        margin: 0 auto $base-space * 2;
      }
    }
  }

  &.is-finish {
    max-width: 96.4rem;
    margin-bottom: $base-space * 2;
  }

  &.is-home, &.is-finish {
    color: color('dark','400');
    background: color('light','200');
  }

  .c-social {
    @include mq-mobile {
      display: none;
    }
    @include mq-desktop {
      border-left: 1px solid color('light','400');
      width: 21rem;
      padding-left: $base-space * 2;
      @include flex-shrink(0);
    }
  }
}

.c-event-info__wrapper {
  background: color('violet','300');
  width: 100%;
  overflow: hidden;

  .c-event-info__back:after {
    background: rgba(color('dark','500'),0.6);
  }

  .c-icon path {
    fill: color('light','100');
  }
}

.c-event-info__content {
  @include mq-desktop {max-width: 70%;}

  .o-badge {
    margin-bottom: $base-space * .5;
  }
}

.c-event-info__banner {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  background-color: color('light','100');
  @include flexbox();

  @include mq-desktop {
    max-height: 42rem;
    margin-top: $base-space * 3;
    z-index: 1;
  }

  @include mq-tablet {
    margin-top: 0;
    box-shadow: none;
    @include radius(0);
  }

  &.is-home {
    max-width: 102rem;
    
    @include mq-desktop {
      box-shadow: 0 2px 20px rgba(0,0,0,.5);
      @include radius(3px);
    }

    .c-event-info__cover {max-width: 102rem;}
  }

  &.is-finish {
    max-width: 96rem;

    @include mq-desktop {
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    .c-event-info__cover {max-width: 96rem;}
  }

  .c-event-info__cover {@include align-self(center);}
}

.c-event-info__cover {
  width: 100%;
  display:block;
}

.c-event-info__back {
  border-bottom: 1px solid color('light','100');
  position: absolute;
  overflow: hidden;
  top: $base-space * -3;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 0;

  @include mq-mobile {height: 120%;}
  
  @include mq-desktop {height: 38rem;}

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background: rgba(color('dark','200'),0.2);
    z-index: 1;
  }
}

.c-event-info__back-image {
  width: 110%;
  height: 120%;
  top: -10%;
  left: -5%;
  position: absolute;
  filter: blur(30px);
}

.c-event-info__logo {
  background: color('light','100');
  overflow: hidden;
  @include radius(50%);
  @include shadow;
  @include flexbox();

  @include mq-mobile {
    width: 7rem;
    min-width: 7rem;
    height: 7rem;
    margin-right: $base-space;
    border: 2px solid color('light','100');
  }

  @include mq-desktop {
    width: 9.8rem;
    min-width: 9.8rem;
    height: 9.8rem;
    margin-right: $base-space * 2;
    border: 5px solid color('light','100');
  }

  img {
    width: 100%;
    display:block;
    vertical-align: middle;
    @include align-self(center);
  }
}

.c-event-info__name {
  @include mq-desktop {
    font-size: desktop-type(4);
    line-height: 1.3;
  }
}

.c-event-info__content {
  @include flex-grow(1);

  @include mq-desktop {
    padding-right: $base-space * 2;
  }
}

.c-event-info__place {
  display: block;
  font-size: desktop-type(0);
  margin-bottom: $base-space;

  .c-icon {
    vertical-align: sub;
  }
}

.c-event-info__date-wrapper {
  @include flexbox;

  .c-icon {top: .2rem}
}

.c-event-info__date {
  width: 100%;
  @include flexbox;
  @include align-items(flex-start);
  @include flex-wrap(wrap);

  p {
    margin-top: 0;
    width: 100%;

    &:first-child {
      @media screen and (max-width: 25em) {
        margin-bottom: $base-space;
      }
    }
  }

  strong {
    @media screen and (max-width: 25em) {
      display: block
    }
  }
}

.c-event-info__link {
  display: block;
  margin-top: $base-space;

  .is-plus {
    vertical-align: middle;
    margin-left: $base-space * .5;
  }
}
