.c-footer {
  width: 100%;
  background: color('dark','400');
}

.c-footer__inner {
  max-width: 100%;
  @include flexbox();
  @include flex-direction(column);
  @include flex-wrap(wrap);

  @include mq-desktop {
    @include justify-content(flex-start);
  }
}

.c-footer__main-info {
  width: 100%;
  padding: $base-space * 2 0;
  background: color('dark','300');
  @include flexbox();
  @include flex-direction(column);

  @include mq-desktop {
    margin-bottom: $base-space * 0;
  }
}

.c-footer_half-container {
  @include flexbox();
  @include flex-direction(column);
  @include flex-wrap(wrap);
}

.c-footer__logo {
  margin-bottom: $base-space * 2;
  @include align-self(center);
}

// .c-footer__title {
//   width: 100%;
//   text-align: center;
//   color: color('light','500');
//   @include flex-basis(0);
//   @include flex-grow(1);
// }

.c-footer__legals {
  text-align: center;
  @include type(-1);
  @include flexbox();
  @include flex-direction(column);

  @include mq-desktop {
    width: 60%;
    margin: 0 auto;
    @include flex-direction(row);
    @include justify-content(center);
  }

  @include mq-tablet {
    width: 80%;
  }

  a {
    color: color('light','100');
    text-decoration: none;
    @include mq-desktop {margin: 0 $base-space}
    &:hover {text-decoration: underline;}
  }

  p {
    margin: 0;
    color: color('light','100');
  }
}

.c-footer__mx {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: color('light','100');
  padding-bottom: $base-space;

  p {
    margin: 0;
    @include type(-2);
  }

  span {margin: 0 .2rem;}
}

.c-logo-wrapper__sub-logos {
  padding: $base-space * 2 0;
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-around);

  img {
    width: 10rem;
    @include align-self(center);
  }
}
