.c-header {
  width: 100%;
  background: color('light','100');
}

.c-header__inner {
  max-width: 102rem;
  margin: 0 auto;
  padding: $base-space;
  @include flexbox();
  @include align-items(center);
  @include flex-direction(row);
  @include flex-wrap(wrap);

  @include mq-mobile {
    @include justify-content(space-between);
  }
}

.c-header-logo {
  @include mq-mobile {
    width: 12.6rem;
    margin-right: $base-space;
  }

  @include mq-desktop {
    margin-right: $base-space * 2;
  }

  img {
    vertical-align: middle;
    @include mq-mobile {width: 100%;}
  }
}

.c-header__links-wrapper {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(center);

  a {
    color: color('blue','500');
    text-transform: uppercase;
    margin-right: $base-space;
    letter-spacing: .2rem;
    @include type(-2);

    &:last-child {margin-right: 0;}
  }
}

.is-language-change {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(center);

  @include mq-mobile {display: none;}

  a {
    color: color('blue','500');
    text-transform: uppercase;
    @include type(-2);
  }

  p {
    color: color('blue','500');
    margin: 0 $base-space * .5;
  }
}
