/* MAIN LAYOUT */
.c-layout__wrapper {
  background: color('light','100');
  border-top: 1px solid color('light','300');
  padding-bottom: $base-space * 4;
}
.c-layout {
  max-width: 102rem;
  width: 100%;
  margin: auto;

  @include mq-mobile {
    padding-right: $base-space;
    padding-left: $base-space;
    padding-bottom: $base-space;
  }

  @include mq-desktop {
    padding: $base-space $base-space * 2 0;
  }

  .c-layout__sticky {
    width: 30rem;
    @include order(2);
    @include flex-shrink(0);
  }
}

.c-layout__alerts {
  .o-alert:last-child {
    @include mq-desktop {
      margin-bottom: $base-space;
    }
  }
}

/* EVENT PAGE */

.c-event-page .c-event-info__back {
  @include mq-mobile {
    display: none;
  }

  @include mq-tablet {
    display: none;
  }
}

.c-event-page .c-layout {
  @include mq-desktop {
    @include flexbox;
    @include flex-wrap(wrap);
  }

  .c-layout__alerts {
    @include mq-desktop {
      width: 100%;
      @include flex-grow(1);
      @include order(1);
    }
  }

  .c-ticket {
    @include mq-desktop {
      @include order(2);
    }
  }

  .c-buy-tickets {
    @include mq-desktop {
      width: 100%;
      @include flex-grow(1);
      @include order(3);
    }
  }

  .c-about__container {
    @include mq-desktop {
      @include flex-grow(1);
      @include flex-basis(0);
      @include order(4);
    }
  }

  .c-contact {
    @include mq-desktop {
      display: none
    }
  }

  .c-layout__contact {
    @include mq-desktop {
      width: 30rem;
      padding-top: $base-space * 2;
      @include flex-shrink(0);
      @include order(5);
    }

    & + .c-contact {
      border-top: 1px solid color('light','400');
    }

    .c-contact {
      @include mq-mobile {
        display: none
      }

      @include mq-desktop {
        display: block
      }
    }
  }

  .c-sponsors {
    @include mq-desktop {
      width: 100%;
      @include flex-basis(1);
      @include flex-grow(1);
      @include order(6);
    }
  }

  .c-social {
    @include mq-desktop {
      display: none;
    }
  }
}

.c-event-page .c-alert__wrapper {
  max-width: 102rem;
  margin: auto;
  @include mq-mobile {
    padding-left: $base-space;
    padding-right: $base-space;
  }

  @include mq-desktop {
    padding-left: $base-space * 2;
    padding-right: $base-space * 2;
  }

  .o-alert {margin-bottom: 0;}
}


/* PURCHASE INFO */

.c-purchase-info-page, .c-payment-page {
  @include mq-mobile {
    @include flexbox();
    @include flex-direction(column);
  }

  @include mq-desktop {
    .c-layout {
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include justify-content(space-between);
    }

    .c-layout__alerts {
      width: 100%;
      margin-bottom: $base-space * 2;
      @include order(-1);
      @include flex-grow(1);
    }

    h1 {
      width: 100%;
      @include order(0);
    }

    .c-layout__form {
      min-width: 0;
      padding-right: $base-space * 4;
      @include order(1);
      @include flex-grow(1);
      @include flex-basis(0);
    }

    .c-summary__wrapper {
      @include order(2);
    }
  }

  @include mq-mobile-landscape {
    .c-layout {
      @include flex-direction(column);
    }

    .c-layout__form {
      padding-right: 0;
      width: 90%;
      margin: 0 auto;
    }

    .c-order-info {
      display: block;
    }
  }
}

.c-purchase-info-page .c-layout__form {

  .u-field {
    @include mq-desktop {
      width: 27.8rem;
    }

    @include mq-mobile-landscape {
     width: 100%;
   }

    &.is-legals {
      @include mq-desktop {
        width: 100%;
      }
    }
  }

  .is-input-large {
    @include mq-desktop {
      width: 100%;
      max-width: 42rem;
    }
  }

  .c-ticket-info__title, .c-ticket-info, .u-radio {
    @include mq-desktop {
      width: 100%;
    }
  }
}

.c-payment-page .c-layout__form {
  .u-field {
    width: 100%;
    max-width: 42rem;
  }

  select {
    margin-top: $base-space * .5;
    background: color('light','150');
    border: 1px solid color('dark','100');
    height: 4.2rem;
    @include type(0);
  }
}

.c-layout__buy--last {
  @include mq-desktop {
    display: none;
  }

  .c-buy-tickets__wrapper {
    @include mq-mobile {border-bottom: none;}
  }
}

.grecaptcha-badge {
  @include mq-mobile {
    visibility: hidden;
  }
}


/* SEATING */

.c-seats-page {
  @include mq-mobile {
    @include flexbox();
    @include flex-direction(column);
  }

  @include mq-desktop {
    .c-layout {
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include justify-content(space-between);
    }

    .c-layout__alerts {
      width: 100%;
      margin-bottom: $base-space * 2;
      @include order(-1);
      @include flex-grow(1);
    }

    .c-seats__wrapper {
      padding-right: $base-space * 4;
      @include order(1);
      @include flex-grow(1);
      @include flex-basis(0);
    }
  }

  @include mq-mobile-landscape {
    .c-layout {
      @include flex-direction(column);
    }

    .c-seats__wrapper {
      padding-right: 0;
    }
  }
}
