/* LOGIN */

.c-login {
  margin-bottom: $base-space * 2;
}

.c-login--logged {
  @include mq-mobile {
    padding: $base-space;
  }

  @include mq-desktop {
    padding: $base-space * 2;
  }

  a {
    color: color('blue','500');
    text-decoration: underline;
  }
}

.c-login-buttons__wrapper {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  margin-top: $base-space * 2;

  @include mq-mobile{
    a {margin-bottom: $base-space *2;}
  }

  @include mq-desktop {
    @include flex-direction(row);

    a, button {
      min-width: 26.7rem;
      margin-bottom: $base-space;
    }
  }
}
