/* MONTHLY PAYMENTS */

.c-monthly-payments {
  padding: $base-space * 2;
  margin-bottom: $base-space * 3;
  background-color: color('light','100');
  border: 1px solid color('light','300');
  @include radius(3px);

  p {
    margin-top: 0;
    margin-bottom: $base-space * .5;
  }

  span {
    font-style: italic;
    color: color('dark','200');
  }

  .o-switch {
    vertical-align: middle;}
}

.c-monthly-payments__disclaimer {
margin-bottom: $base-space * 2;
}

.c-monthly-payments__label {
  font-weight: bold;
  margin-left: $base-space * .5;
  vertical-align: middle;
}

.c-monthly-payments__options {
  margin-top: $base-space * 2;
  margin-bottom: 0;

  li {
    padding-top: $base-space;
    padding-bottom: $base-space;
    margin-top: 0;
    border-bottom: 1px dashed color('light','400');

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  em {color: color('dark','200')}
}
