/* ORDER SUMMARY */


/* COUNTER */

.c-summary__wrapper {
  .o-alert {
    padding: 0;
    border-width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
  }

  &.is-sticky > .o-alert {
    height: auto;
    opacity: 1;
    margin-top: $base-space;
    margin-bottom: $base-space;
    padding: $base-space;
    border-width: 1px;
    @include animate;
  }

  @include mq-desktop {
    width: 30rem;
    z-index: 1;
  }

  th,td {
    @include mq-mobile {
      font-size: desktop-type(-1);
    }

    @include mq-desktop {
      font-size: desktop-type(0);
    }
  }

  .c-seats__counter {
    margin-bottom: $base-space;
  }
}


/* SUMMARY */

.c-summary {
  @include radius(3px);
  @include content-divider;

  @include mq-desktop {
    padding: $base-space;
    border: 1px solid color('light','300');
  }

  &--mobile {margin-top: $base-space;}
}


.c-summary__table {
  width: 100%;

  tr:last-child td {
    border-bottom: none;

    @include mq-mobile {font-size: mobile-type(1);}

    @include mq-desktop {font-size: desktop-type(0);}

    strong {color: color('green');}
  }

  td {
    padding-top: $base-space;
    padding-bottom: $base-space;
    border-bottom: 1px dashed color('light','400');

    @include mq-mobile {font-size: mobile-type(0);}

    @include mq-desktop {font-size: desktop-type(-1);}

    &:first-child {width: 50%;}

    &:nth-child(2n-1) {color: color('dark','300');}
  }
}

.c-summary__info {
  font-weight: 300;
  padding-bottom: $base-space * 2;
  margin-bottom: $base-space * 2;
  border-bottom: 1px solid color('light','200');
  @include type(1);

  span {
    display: block;
    margin-bottom: $base-space * .5;
  }
}

.c-summary__status {
  .is-success {color: color('green');}
  .is-pending {color: color('yellow','400');}
}

.c-summary__uppercase {display: block}


.c-confirmation-page {

  .c-summary {
    padding: $base-space * 2;
  }

  .c-summary__table td {
    @include mq-desktop {
      font-size: desktop-type(0);
    }
  }
}
