/* ORDER INFO */

.c-order-info {
  @include mq-desktop {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }
}

.c-order-info__block {
  width: 100%;
  padding-top: $base-space * 2;
  border-top: 1px solid color('light','300');
}

.c-order-info__title {
  display: block;
  margin-bottom: $base-space;
  width: 100%;
  @include type(1);
}

.c-order-info__divider {
  width: 100%;
  border-top: 1px solid color('light','300');
  height: $base-space;
  line-height: $base-space;
  margin: $base-space 0;

  span {
    background-color: color('light','100');
    padding: 0 $base-space * .5;
    top: $base-space * -.5;

    @include mq-mobile {
      font-size: mobile-type(0)
    }

    @include mq-desktop {
      font-size: desktop-type(1);
    }
  }
}
