/* PAYMENT METHODS */

.c-payment__methods {margin-top: $base-space;}

.c-payment__wrapper {
  @include mq-mobile {
    width: 12.6rem;
  }

  @include mq-desktop {
    width: 14rem;
  }
}

.c-payment__single {
  padding-top: $base-space;
  padding-bottom: $base-space;
  margin-top: $base-space;
  margin-bottom: $base-space * 2;
  text-align: center;
  border: 1px solid color('light','500');
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  @include radius(3px);
  @include animate;

  @include mq-mobile {width: 11.2rem;}

  @include mq-desktop {width: 12.6rem;}

  &:hover {
    border-color: color('dark','200');

    @include mq-desktop {transform: scale(1.048);}
  }

  &.is-active {
    border: 1px solid color('green');
    background-color: color('green','100');
  }

  &:hover, &.is-active {
    .c-icon {opacity: .8;}
  }

  .c-icon {
    width: 100%;
    height: 2.6rem;
    display: block;
    margin-bottom: $base-space * .5;
    margin-left: auto;
    margin-right: auto;
    background-position: center center;
    opacity: .6;
    @include animate;

    &.is-PayPal {
      background-size: auto 1.8rem;
      @include icon-paypal;
    }

    &.is-CreditCard {
      background-size: contain;
      @include icon-creditcard;
    }

    &.is-Deposit {
      background-size: contain;
      @include icon-deposit;
    }

    &.is-OxxoPay {
      background-size: auto 2.4rem;
      @include icon-oxxo;
    }

    &.is-Cash {
      background-size: contain;
      @include icon-cash;
    }
  }
}

.c-scroller__inner {padding-left: $base-space}

.c-payment__name {
  text-transform: uppercase;
  letter-spacing: .2rem;
  @include type(-2);
}

.c-payment__total {
  display: block;
  font-weight: 400;
  color: color('dark','400');
  @include type(0);
}

.c-payment__form, .c-payment__message {
  border-top: 1px solid color('light','300');
  padding-top: $base-space * 2;
  padding-bottom: $base-space * 2;
}

.c-payment__form {
  .is-cvv {
    @include mq-mobile {display: none;}
  }
}

.c-payment__title-container {
  @include flexbox;
  @include justify-content(space-between);

  @include mq-mobile {
    margin-bottom: $base-space * 2;
    @include flex-direction(column);
  }
}

.c-payment__title {
  margin-right: $base-space;
  @include section-title;

  @include mq-mobile {
    margin-bottom: $base-space;
  }
}

.c-payment__logos {
  max-width: 12rem;

  img {
    max-width: 12rem;
    min-width: 100%;
  }
}

.c-payment__message {
  @include flexbox;

  p {margin-top: 0;}

}

.c-payment__icon {
  margin-right: $base-space * 2;
  padding: $base-space;
  background: color('light','200');
  @include radius(3px);
  @include flex-shrink(0);

  .c-icon {
    margin-right: 0;

    path {fill: color('violet','300');}
  }
}

.c-payment__text h4 {margin-bottom: $base-space * .5}

.c-payment__extra-text {
  padding-top: $base-space;
  padding-bottom: $base-space * 2;

  ul {padding-left: $base-space * 2}

  li {
    list-style-type: disc;
    margin-bottom: $base-space;
  }
}

.c-checkout-legals {
  padding: $base-space * 3 0 0;
  text-align: left;
  border-top: 1px solid color('light','300');

  .c-icon {
    margin-top: $base-space * .5;
    path {fill: color('green','300');}
  }

  span {
    margin: 0 0 $base-space * 2;
    @include flexbox();
    @include flex-wrap(wrap);

    &:last-child {margin-bottom: 0;}

  }

  p {
    width: 90%;
    margin: 0;

    @include mq-mobile {@include type(-1);}
  }
}

.c-payment__card-icons {
  position: absolute;

  &.is-visa {
    top: $base-space * 3;
    right: $base-space;
  }

  &.is-mastercard {
    top: 4.1rem;
    right: 1.2rem;
  }

  &.is-amex {
    top: 3.8rem;
    right: .8rem;
  }
}
