/* SEATS */

.c-ticket__single.is-seating {
  @include mq-desktop {
    border: 1px solid color('light','300');
    padding: $base-space * 2;
    margin-bottom: $base-space * 2;
  }

  &:nth-child(2) {
    @include mq-desktop {
      padding-top: $base-space * 2;
    }
  }

  .c-ticket__selection {
    @include mq-desktop {
      @include order(2);
    }
  }

  .c-ticket__content {
    @include mq-desktop {
      @include order(1);
    }
  }
}

.c-seats {
  @include mq-desktop {
    @include flexbox;
  }
}

.c-seats__map {
  text-align: center;
  width: 100%;
  height: 50rem;
  padding: $base-space;
  background: color('light','400');

  @include mq-desktop {
    @include flex-grow(1);
  }

  img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }
}

.c-seats__content {
  padding: $base-space;
  border: 1px solid color('light','300');
  background: color('light','200');

  @include mq-desktop {
    width: 30rem;
    @include flex-shrink(0);
  }
}

.c-seats__single {
  margin-bottom: $base-space;
  @include flexbox;
}

.c-seats__color {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: .2rem;
  margin-right: $base-space * .5;
  @include radius(3px);
}

.c-seats__section {
  display: block;
  @include type(-1);
}

.c-seats__price {
  @include type(0);
}

.c-seats__counter {
  background: color('light','100');
  border: 1px solid color('light','300');
  margin-top: $base-space;
  padding: $base-space;
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
}

.c-seats__number {
  width: 9.5rem;
  font-weight: bold;
  line-height: 1;
  text-align: right;
  @include type(4);
}

.c-seats__label {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-bottom: 0;
}

.c-seats__label, .c-seats__number {
  vertical-align: middle;
}
