/* SPONSORS */

.c-sponsors {
  border-top: 1px solid color('light','300');
  padding-bottom: $base-space * 3;

  @include mq-mobile {
    margin-top: $base-space * 2;
    padding-top: $base-space * 2;
  }

  @include mq-desktop {
    margin-top: $base-space * 3;
    padding-top: $base-space * 3;
  }
  

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    @include flexbox;
    @include flex-wrap(wrap);
  }

  li {
    margin-bottom: $base-space * .5;
    
    vertical-align: middle;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);

    @include mq-mobile {
      margin-right: $base-space;
      height: 4.2rem;
    }

    @include mq-desktop {
      margin-right: $base-space * 2;
      height: 7rem;
    }
  }

  img {
    display: block;
    width: auto;
    height: auto;
    
    @include mq-mobile {
      max-width: 8.4rem;
      max-height:4.2rem;
    }

    @include mq-desktop {
      max-width: 14rem;
      max-height:7rem;
    }
  }
}

.c-sponsors__title {
  @include section-title;
}
