/* STEPS */
.c-steps__wrapper {
  width: 100%;
  border-top: 1px solid color('light','300');
  border-bottom: 1px solid color('light','300');
  background-color: color('light','200');
  color: color('dark','300');
}

.c-checkout-steps {
  margin-top: 0;
  margin-bottom: 0;
  padding: $base-space;
  text-align: center;
  @include flexbox;
  @include align-items(center);

  @include mq-mobile {
    @include justify-content(space-between);
  }

  @include mq-desktop {
    max-width: 102rem;
    margin: 0 auto;
    @include justify-content(space-around);
  }
}

.o-checkout-steps__single {
  counter-increment: item;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: bold;

  @include mq-mobile {
    padding-left: $base-space * .5;
    padding-right: $base-space * .5;
    font-size: mobile-type(-2);
  }

  @include mq-desktop {
    padding-left: $base-space;
    padding-right: $base-space;
    font-size: desktop-type(-1)
  }

  &:before {
    content: counter(item);
    display: inline-block;
    margin-right: $base-space * .5;
    z-index: 1;
  }

  &.is-current {
    color: color('green','400');
    &:after {
      content: '';
      border-bottom: 2px solid color('green','400');
      width: 100%;
      height: 2.8rem;
      z-index: 0;
      position: absolute;
      left: 0;
      top: -.5rem;
    }

    span {z-index: 1;}
  }

  &.is-checked {

    &:before {
      content: '';
      width: 1.8rem;
      height: 1.9rem;
      vertical-align: sub;
      background-size: contain;
      background-position: center;
      background-image: url(./icon/check.png);
      background-repeat: no-repeat;
    }

    &:first-child {padding-left: 0}
  }
}
